		@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Hahmlet&display=swap');
		body{
			background-color: black;
		}
		.font{
			font-family: 'Hahmlet', serif;
		}
		.titleFont{
			font-family: 'Almendra', serif;
		}
		.container{
			display:flex;
			flex-direction:column;
		}
		header{
			border-bottom:5px solid cyan;
			padding:20px;
			text-align:left;
			background-image: url("langage.gif");
			color: cyan;
		}
		footer{
			border-top:5px solid cyan;
			padding:20px;	
			text-align:center;
			color: cyan;
		}
		.content{
			font-size:1.5em;
			display:flex;
		}
		.content nav{
			border-right:5px solid cyan;
			padding:10px;
			background-image: url("red.jpg");
			font-size:1em;
			color: cyan;
		}
		main{
			padding:10px;
			background-color: white;
		}
