		@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Hahmlet&display=swap');
		body{
			background-color: ghostwhite;
		}
		.kFont{
			font-family: 'Hahmlet', serif;
		}
		.eFont{
			font-family: 'Almendra', serif;
		}
		.container{
			display:flex;
			flex-direction:column;
		}
		header{
			border-bottom:5px solid black;
			padding:20px;
			text-align:center;
			background-color: ghostwhite;
			font-size:1.5em;
		}
		footer{
			border-top:5px solid cyan;
			background-color: ghostwhite;
			padding:20px;	
			text-align:center;
		}
		.content{
			font-size:1.5em;
			display:flex;
		}
		main{
			padding:10px;
			background-color: ghostwhite;
		}
		a {
			 color: inherit;
		}
		a:link {
			color: gold;
		}
		a:visited {
			color: royalblue;
		}
		a:focus {
			background: black;
			color:ghostwhite;
		}
		a:hover {
			background: mediumturquoise;
		}
		a:active {
			 background: black;
			 color:cyan;
		}
