		@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Hahmlet&display=swap');
		body{
			background-color: white;
		}
		.kFont{
			font-family: 'Hahmlet', serif;
		}
		.eFont{
			font-family: 'Almendra', serif;
		}
		.container{
			padding:20px;
			display:flex;
			flex-direction:column;
		}
		header{
			border-bottom:5px solid gold;
			padding:20px;
			text-align:center;
			background-color: black;
			color: gold;
			font-size:1.5em;
		}
		footer{
			background-color: white;
			border-top:5px solid gold;
			color: black;
			padding:20px;	
			text-align:center;
		}
		.content{
			font-size:1.5em;
			display:flex;
		}
		.eContent{
			border-top:5px solid mediumturquoise;
		}
		main{
			padding:10px;
			background-color: white;
			color: black;
		}
		a {
			 color: gold;
			 background: black;
		}
		a:link {
			color: gold;
			background: black;
		}
		a:visited {
			color: gold;
			background: black;
		}
		a:focus {
			background: black;
			color:ghostwhite;
		}
		a:hover {
			background: mediumturquoise;
			color: black;
		}
		a:active {
			 background: black;
			 color:cyan;
		}
		hr {
			border: none;
			border-top: 3px double #333;
			color: #333;
			overflow: visible;
			text-align: center;
			height: 5px;
		}

		hr:after {
			background: #fff;
			content: 'ยง';
			padding: 0 4px;
			position: relative;
			top: -1em;
		}
